.EspecialistasSection {
  margin: 0 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.Especialistas-SmallImg{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.Especialistas-BigImg {
  background-color: grey;
  max-width: 300px;
  max-height: 500px;
  border-radius: 300px 0 300px 0;
  margin: 0 2% 0 0;
}
.SmallImg{
    background-color: grey;
    max-width: 200px;
    max-height: 300px;
    border-radius: 200px 0 200px 0;
    margin: 0 2% 0 0;
}
.bottom{
  display: none;
}

@media (max-width:1100px) {
  .top{
    display: none;
  }
  .bottom{
    display: inherit;
  }
  .EspecialistasSection {
flex-direction: column;
  }
  .Especialistas-SmallImg{
    align-items:end;
    margin-bottom: 5%;
  }
  .SmallImg{
    min-width: 150px;
    min-height: 200px;
}
.EspecialistasTextTitle{
  text-align: center;
}
}
@media (max-width:600px) {
  .SmallImg{
    margin: 0;
    width: 5%;
}
.Especialistas-BigImg{
  margin: 0;
  max-width: 200px;
  max-height: 400px;
}
}
@media (max-width:400px) {
  .Especialistas-BigImg{
    margin: 0;
    max-width: 200px;
    max-height: 400px;
  }
  .SmallImg{
    min-width: 100px;
    min-height: 150px;
}
}