.contact-page {
  text-align: center;
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
  color:#333333;
}

.contact-header {
  position: relative;
  padding: 40px 20px;
}

.contact-header h2 {
  color:#333333;
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-header p {
  color:#333333;
  font-size: 18px;
}

.contact-whatsapp {
  margin: 40px 0;
}

.whatsapp-button {
  display: inline-flex;
  align-items: center;
  background: #25d366;
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.whatsapp-button .icon {
  font-size: 24px;
  margin-right: 10px;
}

.whatsapp-button:hover {
  background: #1eb741;
}

.contact-social {
  margin: 40px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  color: #000;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #61386e;
}

.contact-map {
  margin-top: 40px;
}

.contact-map h3 {
  color:#333333;
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-map p {
  color:#333333;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

.contact-map iframe {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .whatsapp-button {
    font-size: 16px;
    padding: 10px 16px;
  }

  .contact-header h2 {
    font-size: 28px;
  }

  .contact-header p {
    font-size: 16px;
  }

  .contact-map p {
    font-size: 16px;
  }

  .social-icons a {
    font-size: 20px;
  }
}
