.Reviews {
  margin: 50px 0 50px 0;
}

.ReviewsBuble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 500px 0;
  background-color: #02a4b0;
}

.CarrouselReviews {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ImgReviews {
  background-color: gray;
  height: 200px;
  width: 500px;
  margin-bottom: 10px;
}

.ReviewsBackGrond {
  background-color: #61386e;
  margin: 0 10% 0 10%;
  padding: 10px 0 10px 0;
  border-radius: 500px 0;
}

.carrousel2 {
  display: none;
}

/* Responsive */
@media (max-width: 1100px) {
  .ReviewsBuble {
    border-radius: 300px 0;
  }
  .ReviewsBackGrond {
    border-radius: 300px 0;
  }
  .CarrouselReviews {
    width: 50vw;
  }
}

@media (max-width: 1000px) {
  .ReviewsBackGrond {
    margin: 0;
  }
}

@media (max-width: 700px) {
  .carrousel1 {
    display: none;
  }
  .carrousel2 {
    display: inherit;
  }
  .ReviewsBuble {
    border-radius: 150px 0;
  }
  .ReviewsBackGrond {
    border-radius: 150px 0;
  }
}

@media (max-width: 500px) {
  .ReviewsBuble .WitheTittleAndParagraph h2 {
    font-size: 30px;
  }
  .ReviewsBuble .WitheTittleAndParagraph p {
    font-size: 16px;
  }
  .ReviewsBuble .WitheTittleAndParagraph {
    width: 70%;
  }
}
