.EsteticaSection {
  margin-bottom: 10px;
  position: relative;
  background-image: url("../../assets/images/hoja2-arriba-izquierda.png"),
    url("../../assets/images/hoja2-arriba-derecha.png"),
    url("../../assets/images/hoja2-abajo-derecha.png"),
    url("../../assets/images/hoja1-bajo-izquierda.png");
  background-position: top left, top right, bottom right, left bottom;
  background-size: 300px 300px, 400px 400px, 300px 300px, 300px 300px;
  background-repeat: no-repeat;
  padding: 20px;
  z-index: 1;
}
.TituloEstetica{
    margin: 0 10%;
}
.OpcionesEstetica{
  margin: 5% 10%;
}
@media (max-width:1000px) {
  .EsteticaSection {
    background-image: url("../../assets/images/hoja2-arriba-izquierda.png"),
      url("../../assets/images/hoja2-arriba-derecha.png"),
      url("../../assets/images/hoja2-abajo-derecha.png"),
      url("../../assets/images/hoja1-bajo-izquierda.png"),
      url("../../assets/images/hoja2-abajo-derecha.png"),
      url("../../assets/images/hoja1-bajo-izquierda.png"),
      url("../../assets/images/hoja2-arriba-derecha.png");
    background-position: 0% 5%, top right, bottom right, 0% 90%, center right,  0% 20%, 100% 70%;
    background-size: 100px 100px, 100px 100px, 100px 100px, 100px 100px, 110px 110px, 200px 200px, 120px 120px;
  }
}