.hero-section {
  background-color: #20a2ad;
  padding: 60px 0;
  position: relative;
  margin-top: 50px;
  border-radius: 0 0 190px 0;
}

.ContainerHero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76vh;
  max-width: 70vw;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-content {
  max-width: 80vw;
}

.hero-title {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 48px;
  color: #61386e;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-button {
  background-color: #333333;
  color: #ffffff;
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #555555;
}

.hero-image {
  margin-left: 80px;
}
.up {
  display: none;
}
.ImgTest {
  height: 500px;
  width: 300px;
  background-color: #333333;
  border-radius: 300px 0px 300px 0px;
  transform: rotate(10deg);
}
.hero-image img {
  height: 500px;
  width: 300px;
  border-radius: 300px 0px 300px 0px;
  transform: rotate(10deg);
}

.SubContainerHero {
  height: 90vh;
  border-radius: 0 0 190px 0;
  border-bottom: 10px solid rgb(97, 56, 110);
  height: auto;
}

@media (max-height: 920px) {
  .ContainerHero {
    height: 74vh;
  }
  .SubContainerHero {
    height: 91vh;
  }
}
@media (max-height: 768px) {
  .ContainerHero {
    height: 72vh;
  }
}
@media (max-height: 685px) {
  .ContainerHero {
    height: 70vh;
  }
}

@media (max-width: 1170px) {
  .ContainerHero {
    max-width: 90vw;
  }
}

@media (max-width: 991px) {
  .ContainerHero {
    flex-direction: column;
  }
  .up {
    display: block;
  }
  .down {
    display: none;
  }
  .hero-image img {
    height: 200px;
    width: 120px;
    border-radius: 300px 0px 300px 0px;
    transform: rotate(10deg);
  }
  .hero-section {
    margin-top: 20px;
  }
  .hero-title {
    font-size: 25px;
    margin-bottom: 7px;
  }
  
.hero-subtitle {
  font-size: 35px;
  margin-bottom: 10px;
}
.hero-description {
  font-size: 15px;
  margin-bottom: 10px;
}
.hero-content {
  text-align: center;
}
.hero-section {
  padding-bottom: 100px;
  border-radius: 0 0 150px 150px;
}

.SubContainerHero {
  height: auto;
  border-radius: 0 0 150px 150px;
  border-bottom: 10px solid rgb(97, 56, 110);
  margin: 0 auto;
}
}
@media (max-width: 660px) {
  .ContainerHero {
    height: auto;
  }
}