.LeftAlignedParagraph h2 {
  color: #333333;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
}

.LeftAlignedParagraph p {
  color: #333333;
  max-width: 60vw;
  padding: 10px 90px 5px 0;
  margin-top: 10px;
}

/* Responsive */
@media (max-height: 900px), (max-width: 1570px) {
  .LeftAlignedParagraph p {
    margin-top: 3px;
  }
  .LeftAlignedParagraph h2 {
    margin-bottom: 5px;
  }
}

@media (max-width: 1260px) {
  .LeftAlignedParagraph h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .LeftAlignedParagraph p {
    max-width: 60vw;
    margin-top: 5px;
  }
}

@media (max-width: 1160px) {
  .LeftAlignedParagraph h2 {
    text-align: center;
  }
  .LeftAlignedParagraph p {
    text-align: center;
    padding: 10px 0px 5px 0;
    max-width: 100vw;
  }
}

@media (max-height: 768px), (max-width: 1024px) {
  .LeftAlignedParagraph {
    margin-bottom: 25px;
  }
}
