.FooterVal {
  background-color: #02a4b0;
  color: #fff;
  padding: 50px 20px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

/* Diseño con curva superior */
.FooterVal-Curve {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #02a4b0;
  border-radius: 50% 50% 0 0;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
}

.FooterVal-Content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

/* Sección del logo */
.FooterVal-Logo img {
  width: 70px;
  height: auto;
  border-radius: 0 50% 0 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.FooterVal-Info, 
.FooterVal-Links, 
.FooterVal-Social {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.FooterVal-Info h3 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}

.FooterVal-Links h4,
.FooterVal-Social h4 {
  color: #fff;
}

.FooterVal-Links ul {
  list-style: none;
  padding: 0;
}

.FooterVal-Links li {
  margin: 5px 0;
}

.FooterVal-Links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.FooterVal-Links a:hover {
  color: #61386e;
}

.FooterVal-SocialIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 22px;
}

.FooterVal-SocialIcons a {
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.FooterVal-SocialIcons a:hover {
  transform: scale(1.2);
  color: #61386e;
}

.FooterVal-Copyright {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}

/* Sección desarrollador */
.FooterAB-Link a{
  text-decoration: none;
}

.FooterAB-Logo img {
  width: 30px;
}

.FooterAB-Logo p {
  color: #fff;
  margin: 0;
}


/* Atribución de Freepik */
.FooterVal-Freepik {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.7;
}

.FooterVal-Freepik a {
  color: #fff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.FooterVal-Freepik a:hover {
  color: #61386e;
}

/* Responsive */
@media (max-width: 768px) {
  .FooterVal-Content {
    flex-direction: column;
    text-align: center;
  }
  
  .FooterVal-SocialIcons {
    justify-content: center;
  }

  .FooterAB-Logo {
    justify-content: center;
    margin-top: 10px;
  }
}
