.SecFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.Footer {
  display: flex;
  align-items: center;

  height: 300px;
  width: 80vw;
  background-color: #02a4b0;
  border-radius: 0 400px 0 400px;
}
.LogoFooter {
  height: 300px;
  width: 300px;
  border-radius: 0 50px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImgLogoFooter {
  height: 150px;
  width: 150px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 200px 0 200px;
}

.ImgLogoFooter img {
  border-radius: 0 50px 0 50px;
}
.IconoRedesFooter {
  height: 150px;
  width: 150px;
  text-align: center;
  height: 180px;
  padding: 5px;
  border-right: 5px solid #fff;
  margin-right: 10px;
}

.IconoRedesFooter P {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 20px;
  max-width: 150px;
  text-align: center;
}

.RedesFooter {
  display: flex;
}

.LinkRedesFooter {
  display: flex;
  flex-direction: column;
}
