.IconServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 15px 15px 15px;
  margin: 50px;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.PseudoIcon {
  width: 130px;
  height: 130px;
  color: white;
  font-size: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.IconServices p {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 20px;
  max-width: 150px;
  text-align: center;
}

.IconServices:hover {
  animation: scaleUp 0.3s forwards;
}

@media (max-height: 920px) , (max-width: 1530px){
  .IconServices{
    margin: 30px;
  }
}
@media (max-width: 1260px) {
  .IconServices{
    margin: 15px;
  }
}

@media (max-height: 768px),(max-width: 1024px) {
  .PseudoIcon {
    width: 100px;
    height: 100px;
  }
  }