.SubContainerResumenNosotros {
  height: 85vh;
  background-color: #20a2ad;
}
.ContainerResumenNosotros {
  height: 85vh;
  background-color: #ffffff;
  border-radius: 200px 0 0 0;
}
.ResumenNosotros {
 padding: 70px;
  display: flex;
  justify-content: center;
}
.ImgTest3 {
  height: 300px;
  width: 500px;
  background-color: #333333;
  border-radius: 150px 0 100px 0;
  margin-right: 30px;
}
