.CardTextAndPickRight {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.CardTextAndPickRight-Pick {
  max-height: 200px;
  max-width: 200px;
}
.CardTextAndPickRight-Text {
  margin: 5px;
  width: 80%;
  color: #333333;
  text-align: right;
}
.CardTextAndPickRight-Text h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.CardTextAndPickRight-Text p {
  font-family: "Junge", sans-serif;
}
@media (max-width:768px) {
  .CardTextAndPickRight{
    flex-direction: column-reverse;
    text-align: center;
    align-items: center
  }
  .CardTextAndPickRight-Text {
    width: auto;
    text-align: center;
  }
}