.BackGroundDiv {
  margin-bottom: 10px;
  position: relative;
  background-image: url("../../assets/images/hoja2-arriba-izquierda.png"),
    url("../../assets/images/hoja1-arriba-derecha.png");
  background-position: top left, bottom right;
  background-size: 300px 300px, 300px 300px;
  background-repeat: no-repeat;
  padding: 20px;
  z-index: 1;
}
.ItemsImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 15% 10px 15%;
}
.ImgDestacado {
  width: 50vh;
  border-radius: 0 200px;
}
