@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Junge&family=Quicksand:wght@300..700&display=swap");
/* ------------------------------------------------RESET-------------------------------------- */
* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  box-sizing: border-box;
}
body{
  background-color:#ffffff;
}
container {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
h3 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
}
h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
p {
  font-family: "Junge", cursive;
}
