.WitheTittleAndParagraph h2 {
  font-size: 40px;
  color: #fff;
  padding-top: 50px;
}
.WitheTittleAndParagraph p {
  color: #fff;
}
.WitheTittleAndParagraph {
    width: 50%;
  text-align: center;
}
